
/* regole comuni*/



body {

  font-family: Arial, Helvetica, sans-serif;

  background-image:  url(../../../../../../../Documents%20and%20Settings/Administrator/Desktop/immagini/sfondo.jpg);

  margin: 0px;

  padding: 0px;

}




/*home page*/



/*intestazione home page*/ 



#intestazione_home {

  color: #000000;

  text-align: center;

  padding-top: 1em;

  min-height: 150px;

  height: auto !important;

  height: 150px;

}

#avi-logo {

  float: left;

  height: 147px;

  width: 150px;

  padding-left: 5%;

}



/* changed acm-logo width to 150px */



#acm-logo {

  float: right;

  height: 147px;

  width: 100px;

  padding-right: 5%;

}

#intestazione_home h1 {

  color: #BB0000;

  font-size: xx-large;

  margin-top: 0em;

  line-height: 1em;

}

#intestazione_home h2 {

  color: #BB0000;

  font-size: large;

    line-height: 1em;

}

#intestazione_home h3 {

  color: #000000;

  font-size: small;

  padding-bottom: 1em;

}



/*path home page*/

#path_home {

  background-color: #BB0000;

  line-height: 1.8em;

  width: 100%;

  text-align: center;

  vertical-align: middle;

  color: #FFFFFF;

  font-size: small;

  font-weight: bold;

}





/*contenuto home page*/ 



#contenuto_home {

  width: 85%;

  padding-left: 10%;

  padding-right: 5%;



}



/*lista home page*/



    

.mainmenu {

  list-style-image:  url(../../../../../../../Documents%20and%20Settings/Administrator/Desktop/immagini/item02.jpg);

  list-style-type: none;

  list-style-position: inside;

  display: block;

  float: left;

  margin-top: 2em;

  margin-left: 0;

  padding-left: 0%;

  margin-bottom: 0;

  padding-bottom: 2em;

  font-weight: bold;

  font-size: large;

  width: 35%;

}



.mainmenu li {

  line-height: 2em;



}



.mainmenu a {

  vertical-align: middle;

  padding-left:1em;

}



/*menu secondario*/ 



#docs {

  width: 35%;

  float: right;

  margin-top: 2em;

  display: block;

  border: 2px solid #BB0000;

  padding-bottom: 0.5em;

  margin-bottom: 1em;



}



#docs h3 {

  color: #FFFFFF;

  background-color: #BB0000;

  padding: 0.1em;

  margin: 0;

  font-size: medium;

  text-align: center;

}



#docs ul {

  list-style-type: none;

  list-style-position: inside;

  display: block;

  margin-left: 0px;

  padding-left: 0px;

  text-align: center;

}



#docs li {

  font-size: small;

  list-style-type: none;

  list-style-position: outside;

  line-height: 1em;

}



#docs ul #txt {

  list-style-image: url(../../../../../../../Documents%20and%20Settings/Administrator/Desktop/immagini/txt_dot.gif);

  list-style-type: none;

  list-style-position: inside;

}



#docs ul #pdf {

  list-style-image: url(../../../../../../../Documents%20and%20Settings/Administrator/Desktop/immagini/pdf_dot.gif);

  list-style-type: none;

  list-style-position: inside;

}



/*footer home page*/ 



#footer_home {

  background-color: #BB0000;

  line-height: 1.8em;

  text-align: center;

  vertical-align: middle;

  color: #FFFFFF;

  font-size: small;

  margin-bottom: 0.5em;

  clear: both;

}







#footer_home a:link {

  color: #FFFFFF;

  text-decoration: none;

}

#footer_home a:visited {

  color: #FFFFFF;

  text-decoration: none;

}

#footer_home a:hover {

  color: #FFFFFF;

  text-decoration: underline;

}



#footer_w3c {

  width: 100%;

  text-align: center;

  vertical-align: middle;

}



.whiteout {

   background: #fff;

   color: #fff;

}



/* intestazione - layout tipo */



#intestazione {

  background-image:  url(../../../../../../../Documents%20and%20Settings/Administrator/Desktop/immagini/intestazione_background.jpg);

  background-repeat: no-repeat;

  background-position: left top;

  width: 100%;

  margin: 0px;

  padding: 0px;

  min-height: 177px;

  height: auto !important;

  height: 177px;

}

#avi-logo1 {

  float: right;

  height: 147px;

  width: 150px;

  padding-top: 20px;

  padding-right: 30px;

  padding-left: 5px;

}

#acm-logo1 {

  float: right;

  height: 96px;

  width: 96px;

  padding-top: 49px;

}

#intestazione h1 {

  font-size: xx-large;

  color: #BB0000;

  padding-left: 30px;

  margin: 0px;

  padding-top: 20px;

  padding-right: 0px;

  padding-bottom: 0px;

}

#intestazione h2 {

  font-size: large;

  color: #000000;

  padding-left: 30px;

  line-height: 22px;

    margin: 0px;

  padding-top: 0px;

  padding-right: 0px;

  padding-bottom: 0px;

}

#intestazione h3 {

  font-size: small;

  color: #000000;

  padding-left: 30px;

  line-height: 20px;

      margin: 0px;

  padding-top: 0px;

  padding-right: 0px;

  padding-bottom: 0px;

}



/* path - layout tipo */



#path {

  background-color: #BB0000;

  

  width: 100%;

  color: #FFFFFF;

  font-size: small;

  line-height: 1.8em;

  vertical-align: middle;

}



#path a {

  padding-left: 10px;

}

  

  

#path a:link {

  color: #FFFFFF;

  text-decoration: none;

}

#path a:visited {

  color: #FFFFFF;

  text-decoration: none;

}

#path a:hover {

  color: #FFFFFF;

  text-decoration: underline;

}



/*contenuto layout tipo*/ 



#contenuto{

  background-image:  url(../../../../../../../Documents%20and%20Settings/Administrator/Desktop/immagini/contenuto_background.jpg);

  background-repeat: repeat-y;

  background-position: left top;

  float: left;

  width: 100%;

  margin: 0px;

  padding: 0px;

}

/*menu layout tipo*/ 



/*------------------------------------------------------------------------------------------------------*/

div#menu {

  font-size: small;

  vertical-align: middle;

  float: left;

  width: 19%;

  margin: 0px;

  padding: 0px;

}

div#menu ul {

  width: 100%;

  margin: 0px 0px 0px 10px;

  padding: 0px;

  z-index:2;

  border-top-width: 0px;

  border-right-width: 1px;

  border-bottom-width: 1px;

  border-left-width: 1px;

  border-top-style: none;

  border-right-style: solid;

  border-bottom-style: solid;

  border-left-style: solid;

  border-top-color: #000000;

  border-right-color: #000000;

  border-bottom-color: #000000;

  border-left-color: #000000; 

}

div#menu ul ul {

  display: none;

  margin: 0px;

  padding: 0px;

  position: absolute;

  top: -1px;

  left: 101%;

  border-left-color: #CCCCCC; 



}

div#menu li {

  margin: 0px;

  padding: 0px;

  position: relative;

  list-style: none;

  border-top-width: 1px;

  border-top-style: solid;

  border-top-color: #000000;  

  height:2.5em;

  line-height:2.5em;

}



div#menu li a {

  color: #BB0000;

  background-color: #FFFFFF;

  display: block;

  padding: 0px 0px 0px 0.5em;

  margin: 0px;

  text-decoration: none;

}

div#menu li a:hover {

  color: #BB0000;

  background-color: #FFFFCC;

}



div#menu li a:active {

  background-color: #FFCC66;

}



div#menu li.submenu:hover ul.level2 {

  display: block;

}





/*testo layout tipo*/ 



#text {

  float: right;

  width: 69%;

  margin: 0em;

  padding: 2em 5% 5%;

  background-image:  url(../../../../../../../Documents%20and%20Settings/Administrator/Desktop/immagini/sfondo.jpg);

  min-height: 20em;

  height: auto !important;

  height: 20em;

  font-size: small; 

  

}



#text h3 {

  color: #000000;

  font-size: medium;

}

#text p {

  text-align: justify;

}



#text .intro {

  padding-bottom: 1em;

}



#text .type {

  display: block;

  padding-bottom: 1em;

}



#text .deadline {

  text-align: right;

  font-weight: bold;  

  display: block;

  padding-bottom: 1em;



}





/*immagini layout tipo*/



.image_sx_up {

  margin-top: 0px;

  margin-right: 1em;

  margin-bottom: 1em;

  margin-left: 0px;

  float: left;

}



/*footer layout tipo*/ 



#footer {

  background-color: #BB0000;

  background-image:  url(../../../../../../../Documents%20and%20Settings/Administrator/Desktop/immagini/sdn_background.jpg);

  background-repeat: no-repeat;

  background-position: left bottom;

  width: 100%;

  margin: 0px;

  padding: 0px;

  color: #FFFFFF;

  font-size: small;

  text-align: center;

  line-height: 1.8em;

  vertical-align: middle;

}



#footer a:link {

  color: #FFFFFF;

  text-decoration: none;

}

#footer a:visited {

  color: #FFFFFF;

  text-decoration: none;

}

#footer a:hover {

  color: #FFFFFF;

  text-decoration: underline;

}

.red {
  color: #FF0000;
  padding-left: 2em;
}
.strike {
  text-decoration: line-through;
}